<footer class = "flex-row">
    <p>&copy;Bearcade Haven</p>
    <ul class = "flex-row">
        <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
        <li><a href="#"><i class="fa-brands fa-linked-in"></i></a></li>
    </ul>
</footer>
</body>
</html>