<%- include('./partials/header_part1.ejs') %>
<link rel="stylesheet" href="/css/styles.css">
<%- include('./partials/header_part2.ejs') %>
<main> 
    <div class = "hero-container flex-row">
        <section class = "hero flex-column">
            <h1>Welcome to Bearcade Haven</h1>
            <p>A marketplace for video game conniseurs, where you can browse the title of tons of great items to find something of your interest, or to sell something at the touch of a few buttons.</p>
            <div class = "cfa">
                <a href = '/items'>
                    <button type="submit">Start Browsing</button>
                </
            </div>
        </section>
    </div>
</main>
<%- include('./partials/footer.ejs')%>
   